main/main.h filter=git-crypt diff=git-crypt
main/certs/* filter=git-crypt diff=git-crypt
main/certs/original/* filter=git-crypt diff=git-crypt
main/certs/iot-topic-policy/* filter=git-crypt diff=git-crypt
Kconfig filter=git-crypt diff=git-crypt
sdkconfig filter=git-crypt diff=git-crypt
sdkconfig.defaults filter=git-crypt diff=git-crypt
sdkconfig.old filter=git-crypt diff=git-crypt